$naranja: #ff7704;
$azul: #00207f;
$dark: #121212;
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "montserrat-italic";
  src: url("../fonts/Montserrat-Italic.ttf");
}
html,
body,
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
ul {
  font-family: "montserrat-regular";
}
.cp-nav {
  position: relative;
  background-color: $azul;
  .navbar-toggler {
    background-color: white;
  }
  .cp-nav--brand {
    width: 215px;
  }
  .nav-item {
    &.active {
      .nav-link {
        color: $naranja;
        font-family: "montserrat-bold";
      }
    }

    .nav-link {
      color: white;
      transition: all 250ms ease-in-out;
      &:hover {
        color: $naranja;
      }
    }
  }
}
.cp-container {
  padding: {
    top: 50px;
    bottom: 50px;
  }
}
.cp-hero {
  bottom: 50%;
  transform: translateY(30%);
}
[desk="whoWeAre"] {
  background-image: url("../img/espacioCell.jpg");
  background-size: cover;
  background-position-x: 900px;
}
.cp-img--whoWeAre {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 96%;
    margin-bottom: 20px;
  }
}
.cp-title {
  font-size: 25px;
}
.cp-subtitle {
  font-size: 15px;
}
.cp-title-low {
  font-size: 35px;
  font-family: "montserrat-bold";
}
.cp-highlight {
  color: $naranja;
  font-family: "montserrat-bold";
}
[theme="dark"] {
  color: $dark !important;
}
[theme="blue"] {
  color: $azul !important;
}
[theme="orange"] {
  color: $naranja !important;
}
[theme="white"] {
  color: white !important;
}
[weight="bold"] {
  font-family: "montserrat-bold";
}
[weight="italic"] {
  font-family: "montserrat-italic";
}
.cp-icon {
  width: 100px;
  margin-bottom: 20px;
}
.cp-item {
  position: relative;
  padding-bottom: 20px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: white;
  }
}
.cp-card {
  border: none;
  .card-body {
    min-height: 320px;
  }
  img {
    height: 220px;
    object-fit: cover;
  }
}
.cp-special {
  position: relative;

  &--back {
    position: absolute;
    top: -200px;
    width: 100%;
    background-image: url("../img/technology.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 615px;
    z-index: -1;
    padding-top: 240px;
    &__second {
      position: absolute;
      top: -200px;
      width: 100%;
      background-image: url("../img/technology.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 615px;
      z-index: -1;
      padding-top: 150px;
    }
  }
}
.cp-img--system {
  width: 280px;
}
.cp-footer {
  min-height: 300px;
  position: relative;
  footer {
    background-color: $naranja;
    padding-top: 75px;
    padding-bottom: 75px;
    position: absolute;
    bottom: -426px;
    width: 100%;
    z-index: -2;
  }
  &.second {
    footer {
      bottom: -1124px;
    }
  }
}
.cp-setup {
  min-height: 300px;
  position: relative;
  &--inner {
    background-color: #00207f;
    padding-top: 140px;
    padding-bottom: 75px;
    position: absolute;
    bottom: -710px;
    width: 100%;
    z-index: -2;
  }
}

.cp-brandFooter {
  width: 140px;
}
.scrollLink {
  display: none;
}
.cp-carrousel {
  .carousel-caption {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    height: 190px;
  }

  .carousel-indicators {
    bottom: 165px;
  }
}
.cp-circle {
  width: 50px;
  height: 50px;
  background-color: $azul;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "montserrat-bold";
  margin-right: 20px;
  &[color="orange"] {
    background-color: $naranja;
    color: white;
  }
}
.module {
  bottom: -745px;
  .cp-special--back {
    padding-top: 96px;
  }
}
@media (min-width: 768px) {
  .cp-footer {
    footer {
      height: 420px;
    }
  }
  .cp-hero {
    bottom: 50%;
    transform: translateY(-180%);
  }
}
.cp-module {
  position: relative;
  padding-bottom: 15px;
  &:after {
    content: "";
    width: 70px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1024px) {
  .cp-hero {
    bottom: 50%;
    transform: translateY(0%);
  }
  .cp-nav {
    position: fixed;
    background-color: transparent;
    transition: all 200ms ease-in-out;
    &.color {
      background-color: $azul;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    }
  }
  .cp-title {
    font-size: 60px;
    font-family: "montserrat-bold";
  }
  .cp-title-low {
    font-size: 50px;
    margin-bottom: 90px;
  }
  .cp-subtitle {
    font-size: 25px;
  }
  .cp-carrousel {
    .carousel-caption {
      width: 617px;
    }
  }
  .cp-container {
    padding: {
      top: 70px;
      bottom: 70px;
    }
    &--second {
      padding-top: 70px;
      padding-bottom: 120px;
    }
  }
  [desk="whoWeAre"] {
    height: 750px;
    padding-top: 100px;
    background-position-x: 0;
    background-repeat: no-repeat;
  }
  .cp-icon {
    width: 150px;
  }
  .cp-special {
    &--back {
      padding-top: 280px;
    }
  }
  .cp-img--system {
    width: 400px;
    position: absolute;
    bottom: -223px;
    right: 139px;
  }
  .cp-footer {
    footer {
      bottom: -390px;
      height: 336px;
      padding-top: 125px;
    }
  }
  .scrollLink {
    display: block;
    color: $azul;
    font-size: 35px;
    transition: all 200ms ease-in-out;
  }
}
@media (min-width: 1441px) {
  [desk="whoWeAre"] {
    padding-top: 250px;
    height: 1000px;
  }
  .cp-footer {
    footer {
      bottom: -670px;
    }
  }
  .cp-special {
    &--back {
      height: 950px;
    }
  }
  .cp-img--system {
    bottom: -460px;
  }
  .cp-footer {
    footer {
      padding-top: 160px;
    }
  }
}
